<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="https://use.fontawesome.com/83b91b9c26.js"></script>
    <title>Education Meeting HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="css/owl.css">
    <link rel="stylesheet" href="css/lightbox.css">
  </head>

<body>

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">

          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons"id="login-register">
            <ul>
              <li><a href="/login">Login AS Author</a></li>
              <li><a href="/register">Register AS Author</a></li>

             
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <!-- ** Header Area Start ** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ** Logo Start ** -->
                      <a href="/" class="logo">
                          Edu AIA
                      </a>
                      <!-- ** Logo End ** -->
                      <!-- ** Menu Start ** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="/events">Events</a></li>
                          
                          
                          <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                          <li>
                          <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_IKrOhoGMEHWf77" async> </script> </form>
                         </li>
                      </ul>
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ** Menu End ** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ** Header Area End ** -->


  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
          <image src="images/Guinea-Tremeau-177--3-.jpg" type="image/jpg" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <h6>Hello,</h6>
              <h2>Welcome to Education AIA</h2>
              <p> <strong>EDU AIA</strong> is currently supporting over 10,000 students under the Support Poor Students project!

EDU AIA provides partial or full assistance to poor students from primary school to university levels, who are not in a position to continue their education because of financial hardships. Areas of assistance include: admission fees, text books, tuition fees, exam fees, hostel fees, uniforms, backpacks, school supplies, stationery items, as well as a stipend which may range from $5 to $50 per month depending on local conditions and economic status of each student’s family.  Please donate for these efforts, your donations will go a long way to build a bright future for the next generations in poor countries.</p>
              <div class="main-button-red">
                  <a href="/login">Join Us Now!</a></div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">

            <div class="item">
              <div class="icon">
                <img src="images/service-icon-01.png" alt="">
              </div>
              <div class="down-content">
                <h4>Awarness Programms</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Event hositngs</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Merit based financial assistance</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Education for all</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Donate us</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
<div>
  <div>
<section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <br/>
            <br/>
            <h2>Our Past Events:</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <img src="images/course-01.jpg" alt="Course One">
              <div class="down-content">
                <h4>Donation of Books</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="images/course-02.jpg" alt="Course Two">
              <div class="down-content">
                <h4>Awarness camp</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="images/course-03.jpg" alt="">
              <div class="down-content">
                <h4>Boot camp </h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="images/course-04.jpg" alt="">
              <div class="down-content">
                <h4>Project: Free education</h4> 
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      
                    </div>

                  </div>
                </div>
              </div>
            </div>
            

    </div>
  </section>
  </div>
</div>
  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>A Few Facts:</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">70</div>
                    <div class="count-title">Above Students are not able to take education</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">14l</div>
                    <div class="count-title">lkh+ Schools in India</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">2300</div>
                    <div class="count-title">Students approx die every year</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">141</div>
                    <div class="count-title">cr+ Population</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <a href="https://www.youtube.com/watch?v=HndV87XpkWg" target="_blank"><img src="assets/images/play-icon.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Let's get in touch</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="YOURNAME...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="YOUR EMAIL..." required="">
                  </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="subject" type="text" id="subject" placeholder="SUBJECT...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message" placeholder="YOUR MESSAGE..." required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">SEND MESSAGE NOW</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>Phone Number</h6>
                <span>123-420-6969</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>betterthanAOT@aia.edu</span>
              </li>
              <li>
                <h6>Street Address</h6>
                <span>Kolkata</span>
              </li>
              <li>
                <h6>Website URL</h6>
                <span>www.AIA.edu</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 Edu  Co., Ltd. All Rights Reserved.
          <br>
          Design:AIA</a>
          <br>

        </p>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="jquery/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <script src="js/isotope.min.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="js/tabs.js"></script>
    <script src="js/video.js"></script>
    <script src="js/slick-slider.js"></script>
    <script src="js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</body>
</html>
